@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --color-dark: #0B0F19  ;
    --color-primary: #6366F1 ;
    --color-gray600: #9397ad ;
    --color-white: #ffffff ;
    --color-gray300: #e2e5f1 ;

    --container-padding: 1rem;
    --transition-time: all 0,2s;
}



* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) 
}

body, section, div, header, footer, main, aside, nav, blockquote, p, span {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Manrope", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

.container {
    width: 100%;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    margin-left: auto;
    margin-right: auto;
}


a {
    color: var(--color-primary);
    text-decoration: none;
}

a:hover {
    color: var(--color-primary);
    text-decoration: underline;
}



.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 8px;
    padding: 12px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.btn-primary:hover {
    background-color: var(--color-gray600);
    color: var(--color-white);
    text-decoration: none;
}

.btn-primary i {
    margin-right: 0.5rem;
}

.btn-mobile {
    background-color: transparent;
    border: none;
    font-size: 2rem;
}

.btn-toggle-switch {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-toggle-switch .label {
    display: none;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
}

.toggle-switch-input {
    opacity: 0;
}

.toggle-switch input:checked + .slider {
    background-color: var(--color-primary);
}

.toggle-switch input:focus + .slider {
    box-shadow: 0 0 1px var(--color-primary);
}

.toggle-switch input:checked + .slider:before {
    transform: translateX(18px);
    background-color: var(--color-white);
}

.toggle-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-gray600);
    transition: all 0.2s;
}

.toggle-switch .slider:before {
    position:absolute;
    content:"";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 2.5px;
    background-color: var(--color-white);
    transition: all 0.2s;
}

.toggle-switch .slider.round {
    border-radius: 35px;
}

.toggle-switch .slider.round:before {
    border-radius: 50px;
}

.navbar {
    display: none;
}

.nav-link {
    color: var(--color-dark);
    font-weight: 600;
    text-decoration: none; 
}

.nav-link:hover {
    color: var(--color-primary);
    text-decoration: underline;
}

.active {
    color: var(--color-primary);
    text-decoration: underline;
}

#auth-signin {
    display: none;
}

header .container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto auto;
    gap: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

footer {

    font-size: 14px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--color-gray600);

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .credit {
        display: none;
    }
}

#brands {
    display: none;
    padding-top: 2rem;
    padding-bottom: 2rem;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }
}

.brand-box {
    border: 1px solid var(--color-gray300);
    border-radius: 8px;
    height: 100px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .container {
    max-width: 720px;
    }

    .btn-toggle-switch .label {
        display: block;
    }

    header .container {
        gap: 3rem;
       
    }

    footer {

    .credit {
        display: block;
    }
}

#brands {
    display: block;

}

#brand-1, #brand-2 {
    display: none;
}
}

@media (min-width: 1000px) {
    .container {
    max-width: 1320px;
    }

    header .container {
        grid-template-columns: auto 1fr auto auto;
        gap: 3rem;
       }

       .navbar {
        display: block;
    }
      
      
       #auth-signin {
        display: block;
    }

    .btn-mobile {
        display: none;
    }

#brand-1, #brand-2 {
    display: flex;
}
}