body {
    margin: 0;
}

/* absolut */
.px {
    font-size: 32px;
}


.box {
    font-size: 20px;
}

/* relative */

.em {
    font-size: 2rem;
}

.rem {
    font-size: 2rem;
}

.wrapper {
    width: 60vw;
    height: 50vh;
    border: 5px solid purple;
}

.width {
    border: 2px solid darkgreen;
    height: 50px;

    width: 50%;
}

.hero {
    background-color: purple;
    height: 100vh;
}