.post {
    background-color: yellow;
}
    
    h2 {
        color: blue;
    }

p{
color: blueviolet
}
#small{
    color: rgb(red, green, blue)
}

.navbar {
    background-color: darkslategray;
}

#id{ 
    
}